name: Deploy Verify
on:
  workflow_dispatch:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read
  packages: read

jobs:
  verify_signature:
    runs-on: ubuntu-latest
    steps:
      - uses: sigstore/cosign-installer@v3
      - name: Verify cosign signature (keyless)
        env:
          COSIGN_EXPERIMENTAL: "true"
        run: |
          OWNER="${{ github.repository_owner }}"; REPO="${{ github.event.repository.name }}"; OWNER_LC="${OWNER,,}"; REPO_LC="${REPO,,}"; REPO_ND="${REPO_LC%-}"; IMAGE="ghcr.io/${OWNER_LC}/${REPO_ND}:${{ github.sha }}"
          cosign verify --certificate-identity-regexp "https://github.com/${{ github.repository }}/.github/workflows/ci.yml@refs/(heads|tags)/.*" --certificate-oidc-issuer "https://token.actions.githubusercontent.com" $IMAGE

