name: Deploy Verify
on:
  workflow_dispatch:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read
  packages: read

jobs:
  verify_signature:
    runs-on: ubuntu-latest
    steps:
      - uses: sigstore/cosign-installer@v3
      - name: Verify cosign signature (keyless)
        env:
          COSIGN_EXPERIMENTAL: "true"
        run: |
          IMAGE=ghcr.io/${{ github.repository }}:${{ github.sha }}
          cosign verify $IMAGE
